body {
	background: ##BDBDBD url('imagens/fundo.png') no-repeat;
	font: 15px Arial, Verdana, sans-serif;
	border-image: ;
}

#principal{
	width: 900px;
}

#menu{
	background: #A4A4A4;
	padding: 18px;
}

#conteudo{
	background: #c5c5b2;
	padding: 10px;
}

#rodape{

}

a {
	color: #424242;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: gray;
	font-size: 1.2em;
}

.centralizar {
	text-align: center;
}

.img-campanha{
	border: 10px solid #424242;
}